header{
    background: #f4f4f4;
    height: 70px;
    text-align: center;
    border:1px solid #ccc;
}
nav{
    text-align: left;
    height: 40px;
}
nav li{
    display: inline;
    float: left;
    padding-right:20px;

}
.clr{
    clear:both;
}